<!doctype html>  
<html lang="en">  
  <head>  
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>File Upload</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
  </head>  
  <body>  
    <div class="container mt-5">  
      <h2>Upload new File</h2>  
  <!--Jinja2模板引擎的语法标记。
    Jinja2是一个常用于Python web框架（如Flask和Django）的
    模板引擎，它允许开发者在HTML中嵌入动态内容。-->
      {% with messages = get_flashed_messages(with_categories=true) %}  
        {% if messages %}  
          <ul class="list-group mt-3">  
            {% for category, message in messages %}  
              <li class="list-group-item list-group-item-{{ category }}">{{ message }}</li>  
            {% endfor %}  
          </ul>  
        {% endif %}  
      {% endwith %}  
      <form method="post" enctype="multipart/form-data">  
        <div class="form-group">  
          <label for="file">Choose file</label>  
          <input type="file" class="form-control-file" id="file" name="file">  
        </div>  
        <button type="submit" class="btn btn-primary">Upload</button>  
      </form>  
    </div>  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  </body>  
</html>